[submodule "3D_Printing_Tools"]
	path = 3D_Printing_Tools
	url = https://github.com/mark1791/3D_Printing_Tools
[submodule "3DfindIT"]
	path = 3DfindIT
	url = https://github.com/cadenasgmbh/3dfindit-freecad-integration
[submodule "A2plus"]
	path = A2plus
	url = https://github.com/kbwbe/A2plus
[submodule "AirPlaneDesign"]
	path = AirPlaneDesign
	url = https://github.com/FredsFactory/FreeCAD_AirPlaneDesign
[submodule "Alternate_OpenSCAD"]
	path = Alternate_OpenSCAD
	url = https://github.com/KeithSloan/OpenSCAD_Alt_Import.git
[submodule "animation"]
	path = animation
	url = https://github.com/microelly2/Animation.git
[submodule "AnimationFreeCAD"]
	path = AnimationFreeCAD
	url = https://github.com/QuentinTournier40/AnimationFreeCAD
	branch = main
[submodule "ArchTextures"]
	path = ArchTextures
	url = https://github.com/furti/FreeCAD-ArchTextures
[submodule "assembly2"]
	path = assembly2
	url = https://github.com/hamish2014/FreeCAD_assembly2.git
[submodule "Assembly3"]
	path = Assembly3
	url = https://github.com/realthunder/FreeCAD_assembly3
	branch = master
[submodule "Assembly4"]
	path = Assembly4
	url = https://github.com/Zolko-123/FreeCAD_Assembly4
[submodule "Autoload"]
	path = Autoload
	url = https://github.com/triplus/Autoload
[submodule "BCFPlugin"]
	path = BCFPlugin
	url = https://github.com/podestplatz/BCF-Plugin-FreeCAD
[submodule "Behave-Dark-Colors"]
	path = Behave-Dark-Colors
	url = https://github.com/Chrismettal/FreeCAD-Behave-Dark-Preference-Pack
	branch = main
[submodule "Beltrami"]
	path = Beltrami
	url = https://github.com/Simturb/Beltrami
	branch = main
[submodule "btl"]
	path = btl
	url = https://github.com/knipknap/better-tool-library.git
	branch = main
[submodule "BIMBots"]
	path = BIMBots
	url = https://github.com/opensourceBIM/BIMbots-FreeCAD
[submodule "BIM"]
	path = BIM
	url = https://github.com/yorikvanhavre/BIM_Workbench.git
[submodule "bimtester"]
	path = bimtester
	url = https://github.com/bimtester/bimtesterfc
[submodule "boltsfc"]
	path = boltsfc
	url = https://github.com/boltsparts/boltsfc.git
	branch = main
[submodule "CadbaseLibrary"]
        path = CadbaseLibrary
        url = https://github.com/mnnxp/cadbaselibrary-freecad
        branch = master
[submodule "CADExchanger"]
	path = CADExchanger
	url = https://github.com/yorikvanhavre/CADExchanger.git
[submodule "cadquery_module"]
	path = cadquery_module
	url = https://github.com/jmwright/cadquery-freecad-module.git
[submodule "CfdOF"]
	path = CfdOF
	url = https://github.com/jaheyns/CfdOF.git
[submodule "Cfd"]
	path = Cfd
	url = https://github.com/qingfengxia/Cfd.git
[submodule "CommandPanel"]
	path = CommandPanel
	url = https://github.com/triplus/CommandPanel
[submodule "CubeMenu"]
	path = CubeMenu
	url = https://github.com/triplus/CubeMenu
[submodule "cura_engine"]
	path = cura_engine
	url = https://github.com/cblt2l/FreeCAD-CuraEngine-Plugin.git
[submodule "CurvedShapes"]
	path = CurvedShapes
	url = https://github.com/chbergmann/CurvedShapesWorkbench.git
[submodule "Curves"]
	path = Curves
	url = https://github.com/tomate44/CurvesWB.git
[submodule "Defeaturing"]
	path = Defeaturing
	url = https://github.com/easyw/Defeaturing_WB.git
[submodule "Design456"]
	path = Design456
	url = https://github.com/MariwanJ/Design456
	branch = main	
[submodule "DesignSPHysics"]
	path = DesignSPHysics
	url = https://github.com/DualSPHysics/DesignSPHysics.git
[submodule "dodo"]
	path = dodo
	url = https://github.com/oddtopus/dodo
[submodule "Dracula"]
	path = Dracula
	url = https://github.com/dracula/freecad
	branch = master
[submodule "drawing_dimensioning"]
	path = drawing_dimensioning
	url = https://github.com/hamish2014/FreeCAD_drawing_dimensioning.git
[submodule "dxf-library"]
	path = dxf_library
	url = https://github.com/yorikvanhavre/Draft-dxf-importer.git
[submodule "DynamicData"]
	path = DynamicData
	url = https://github.com/mwganson/DynamicData
[submodule "EM"]
	path = EM
	url = https://github.com/ediloren/EM-Workbench-for-FreeCAD
[submodule "Estimate"]
	path = Estimate
	url = https://github.com/erroronline1/estimateWB
	branch = master
[submodule "ExplodedAssembly"]
	path = ExplodedAssembly
	url = https://github.com/JMG1/ExplodedAssembly.git
[submodule "ExtMan"]
	path = ExtMan
	url = https://github.com/mnesarco/FreeCAD_ExtMan
[submodule "ExtremeProDark"]
	path = ExtremeProDark
	url = https://github.com/MisterMakerNL/ExtremeProDark
	branch = main
[submodule "ExtremeProLight"]
	path = ExtremeProLight
	url = https://github.com/MisterMakerNL/ExtremeProLight
	branch = main
[submodule "fasteners"]
	path = fasteners
	url = https://github.com/shaise/FreeCAD_FastenersWB.git
[submodule "Fcmcua"]
	path = Fcmcua
	url = https://github.com/heissgetraenk/fcmcua
	branch = main
[submodule "freecad.gears"]
	path = freecad.gears
	url = https://github.com/looooo/freecad.gears
[submodule "Freecad-Built-in-themes-beta"]
	path = Freecad-Built-in-themes-beta
	url = https://github.com/MisterMakerNL/Freecad-Built-in-themes-beta
	branch = main
[submodule "FeedsAndSpeeds"]
	path = FeedsAndSpeeds
	url = https://github.com/dubstar-04/FeedsAndSpeeds.git
[submodule "FEM_FrontISTR"]
	path = FEM_FrontISTR
	url = https://github.com/FrontISTR/FEM_FrontISTR.git
[submodule "FEMbyGEN"]
	path = FEMbyGEN
	url = https://github.com/Serince/FEMbyGEN.git
[submodule "flamingo"]
	path = flamingo
	url = https://github.com/oddtopus/flamingo.git
[submodule "frame"]
	path = frame
	url = https://github.com/looooo/freecad_frame.git
[submodule "GDML"]
	path = GDML
	url = https://github.com/KeithSloan/GDML
	branch = Main
[submodule "GDT"]
	path = GDT
	url = https://github.com/juanvanyo/FreeCAD-GDT.git
[submodule "Glass"]
	path = Glass
	url = https://github.com/triplus/Glass.git
[submodule "Help"]
	path = Help
	url = https://github.com/FreeCAD/FreeCAD-Help
	branch = main
[submodule "IconThemes"]
	path = IconThemes
	url = https://github.com/triplus/IconThemes.git
[submodule "ImportNURBS"]
	path = ImportNURBS
	url = https://github.com/KeithSloan/ImportNURBS.git
[submodule "InventorLoader"]
	path = InventorLoader
	url = https://github.com/jmplonka/InventorLoader.git
[submodule "kerkythea"]
	path = kerkythea
	url = https://github.com/marmni/FreeCAD-Kerkythea.git
[submodule "kicadStepUpMod"]
	path = kicadStepUpMod
	url = https://github.com/easyw/kicadStepUpMod.git
[submodule "lattice2"]
	path = lattice2
	url = https://github.com/DeepSOIC/Lattice2.git
[submodule "Launcher"]
	path = Launcher
	url = https://github.com/triplus/Launcher.git
[submodule "LCInterlocking"]
	path = LCInterlocking
	url = https://github.com/execuc/LCInterlocking
[submodule "parts_library"]
	path = parts_library
	url = https://github.com/FreeCAD/FreeCAD-library.git
[submodule "Lithophane"]
	path = Lithophane
	url = https://github.com/furti/FreeCAD-Lithophane
[submodule "MakerWorkbench"]
	path = MakerWorkbench
	url = https://github.com/URJCMakerGroup/MakerWorkbench.git
[submodule "Manipulator"]
	path = Manipulator
	url = https://github.com/easyw/Manipulator.git
[submodule "Marz"]
	path = Marz
	url = https://github.com/mnesarco/MarzWorkbench
[submodule "MeshRemodel"]
	path = MeshRemodel
	url = https://github.com/mwganson/MeshRemodel
[submodule "MnesarcoUtils"]
	path = MnesarcoUtils
	url = https://github.com/mnesarco/FreeCAD_Utils
	branch = main
[submodule "ModernUI"]
	path = ModernUI
	url = https://github.com/HakanSeven12/Modern-UI.git
[submodule "MOOC"]
	path = MOOC
	url = https://github.com/j-wiedemann/mooc-workbench
[submodule "Movie"]
	path = Movie
	url = https://github.com/Francisco-Rosa/FreeCAD-Movie
[submodule "NavigationIndicator"]
	path = NavigationIndicator
	url = https://github.com/triplus/NavigationIndicator
[submodule "NikraDAP"]
	path = NikraDAP
	url = https://github.com/NikraDAP/FreeCAD-NikraDAP
	branch = main
[submodule "Nodes"]
	path = Nodes
	url = https://github.com/j8sr0230/Nodes
	branch = main
[submodule "nurbs"]
	path = nurbs
	url = https://github.com/microelly2/freecad-nurbs
[submodule "offline-documentation"]
	path = offline-documentation
	url = https://github.com/FreeCAD/FreeCAD-documentation
[submodule "Ondsel-Lens"]
	path = Ondsel-Lens
	url = https://github.com/ondsel-Development/ondsel-lens
	branch=master
[submodule "OpticsWorkbench"]
	path = OpticsWorkbench
	url = https://github.com/chbergmann/OpticsWorkbench
	branch = main
[submodule "OSAFE"]
	path = OSAFE
	url = https://github.com/ebrahimraeyat/OSAFE.git
[submodule "ose-piping"]
	path = ose-piping
	url = https://github.com/rkrenzler/ose-piping-workbench
[submodule "OSE3dPrinter"]
	path = OSE3dPrinter
	url = https://github.com/gbroques/ose-3d-printer-workbench/
[submodule "Part-o-magic"]
	path = Part-o-magic
	url = https://github.com/DeepSOIC/Part-o-magic.git
[submodule "pcb"]
	path = pcb
	url = https://github.com/marmni/FreeCAD-PCB.git
[submodule "persistenttoolbars"]
	path = persistenttoolbars
	url = https://github.com/triplus/PersistentToolbars.git
[submodule "PieMenu"]
	path = PieMenu
	url = https://github.com/mdkus/PieMenu.git
[submodule "pivy_trackers"]
	path = pivy_trackers
	url = https://github.com/joelgraff/pivy_trackers
[submodule "Plot"]
	path = Plot
	url = https://github.com/FreeCAD/freecad.plot
[submodule "pluginloader"]
	path = pluginloader
	url = https://github.com/microelly2/freecad-pluginloader.git
[submodule "POV-Ray-Rendering"]
	path = POV-Ray-Rendering
	url = https://github.com/TheRaytracers/freecad-povray-render
[submodule "ProDarkThemePreferencePack"]
	path = ProDarkThemePreferencePack
	url = https://github.com/turn211/ProDarkThemePreferencePack
	branch = main
[submodule "Pyramids-and-Polyhedrons"]
	path = Pyramids-and-Polyhedrons
	url = https://github.com/eddyverl/FreeCAD-Pyramids-and-Polyhedrons.git
[submodule "pyOpToolsWorkbench"]
        path = pyOpToolsWorkBench
        url = https://github.com/cihologramas/freecad-pyoptools
        branch = master
[submodule "pyrate"]
	path = pyrate
	url = https://salsa.debian.org/mess42/pyrate.git
[submodule "QuickMeasure"]
	path = QuickMeasure
	url = https://github.com/DanMiel/QuickMeasure
	branch = main
[submodule "reconstruction"]
	path = reconstruction
	url = https://github.com/microelly2/reconstruction.git
[submodule "Reinforcement"]
	path = Reinforcement
	url = https://github.com/amrit3701/FreeCAD-Reinforcement
[submodule "RemBench"]
	path = RemBench
	url = https://github.com/triplus/RemBench
[submodule "Render"]
	path = Render
	url = https://github.com/FreeCAD/FreeCAD-render.git
[submodule "Reporting"]
	path = Reporting
	url = https://github.com/furti/FreeCAD-Reporting
[submodule "retr3d"]
	path = retr3d
	url = https://github.com/Maaphoo/Retr3d.git
[submodule "Rocket"]
	path = Rocket
	url = https://github.com/davesrocketshop/Rocket
[submodule "SearchBar"]
	path = SearchBar
	url = https://github.com/SuzanneSoy/SearchBar
	branch = main
[submodule "SelectorToolbar"]
	path = SelectorToolbar
	url = https://github.com/triplus/SelectorToolbar
[submodule "sheetmetal"]
	path = sheetmetal
	url = https://github.com/shaise/FreeCAD_SheetMetal.git
[submodule "Ship"]
	path = Ship
	url = https://github.com/FreeCAD/freecad.ship
[submodule "ShortCuts"]
	path = ShortCuts
	url = https://github.com/triplus/ShortCuts.git
[submodule "Silk"]
	path = Silk
	url = https://github.com/edwardvmills/Silk.git
[submodule "slic3r-tools"]
	path = slic3r-tools
	url = https://github.com/limikael/freecad-slic3r-tools
[submodule "SlopedPlanesMacro"]
	path = SlopedPlanesMacro
	url = https://github.com/luzpaz/SlopedPlanesMacro.git
[submodule "SteelColumn"]
	path = SteelColumn
	url = https://github.com/ebrahimraeyat/momen
[submodule "symbols_library"]
	path = symbols_library
	url = https://github.com/FreeCAD/FreeCAD-symbols.git
[submodule "TabBar"]
	path = TabBar
	url = https://github.com/triplus/TabBar.git
[submodule "ThreadProfile"]
	path = ThreadProfile
	url = https://github.com/mwganson/ThreadProfile.git
[submodule "timber"]
	path = timber
	url = https://github.com/wood-galaxy/FreeCAD-Timber.git
[submodule "toSketch"]
	path = toSketch
	url = https://github.com/KeithSloan/toSketch.git
	branch = main
[submodule "taack-plm-freecad"]
	path = taack-plm-freecad
	url = https://github.com/Taack/taack-plm-freecad.git
	branch = main
[submodule "ToolbarStyle"]
	path = ToolbarStyle
	url = https://github.com/triplus/ToolbarStyle
[submodule "Trails"]
	path = Trails
	url = https://github.com/HakanSeven12/Trails.git
[submodule "WebTools"]
	path = WebTools
	url = https://github.com/yorikvanhavre/WebTools.git
[submodule "workfeature-macro"]
	path = workfeature-macro
	url = https://github.com/Rentlau/WorkFeature.git
[submodule "workfeature"]
	path = workfeature
	url = https://github.com/Rentlau/WorkFeature-WB.git
[submodule "yaml-workspace"]
	path = yaml-workspace
	url = https://github.com/Mambix/FreeCAD-yaml-workspace.git
