aiofiles==25.1.0
aiosqlite==0.22.1
antlr4-python3-runtime==4.13.2
asyncua==1.1.8
atomicwrites==1.4.1
autobahn==25.12.2
awkward==2.8.11
awkward_cpp==51
backoff==2.2.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.14.3
blinker==1.9.0
capytaine==2.3.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
comtypes==1.4.14
configparser==7.2.0
contourpy==1.3.3
cpylog==1.6.0
cryptography==46.0.3
cycler==0.12.1
defusedxml==0.7.1
distro==1.9.0
docopt-ng==0.9.0
docutils==0.22.4
et_xmlfile==2.0.0
etabs_api==1.2
ezdxf==1.4.3
fonttools==4.61.1
fsspec==2025.12.0
geomdl==5.4.0
glfw==2.10.0
gmsh==4.15.0
hyperlink==21.0.0
idna==3.11
ijson==3.4.0.post0
imageio==2.37.2
importlib_metadata==8.7.1
importlib_resources==6.5.2
joblib==1.5.3
kiwisolver==1.4.9
ladybug-comfort==0.18.96
ladybug-core==0.44.29
ladybug-display==0.13.3
ladybug-geometry==1.34.14
ladybug-radiance==0.2.11
lazy_loader==0.4
llvmlite==0.46.0
lxml==6.0.2
Markdown==3.10
markdown-it-py==4.0.0
matplotlib==3.10.8
mdurl==0.1.2
meshio==5.3.5
monotonic==1.6
mpmath==1.3.0
msgpack==1.1.2
networkx==3.6.1
nine==1.2.0
nodeeditor==0.9.15
numba==0.63.1
numpy==2.4.0
olefile==0.47
OpenEXR==3.4.4
openpyxl==3.1.5
openstudio==3.10.0
packaging==25.0
pandas==2.3.3
pillow==12.0.0
platformdirs==4.5.1
ply==3.11
pooch==1.8.2
posthog==7.4.2
protobuf==6.33.2
psutil==7.2.1
py-slvs==1.0.6
pycollada==0.9.2
pycparser==2.23
pyfakefs==6.0.0
pyg4ometry==1.4.2
pygit2==1.19.1
Pygments==2.19.2
PyJWT==2.10.1
pyNastran==1.4.1
PyOpenGL==3.1.10
pyOpenSSL==25.3.0
pyopenxr==1.1.5301
pyoptools==0.3.7
pyparsing==3.3.1
pypresence==4.6.1
pyproj==3.7.2
pysolar==0.13
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
pytz==2025.2
pyvista==0.46.4
PyWavelets==1.9.0
PyYAML==6.0.3
QtPy==2.4.3
QtRangeSlider==0.1.5
requests==2.32.5
rhino3dm==8.17.0
rich==14.2.0
scikit-image==0.26.0
scikit-learn==1.8.0
scikit-sparse==0.4.16
scipy==1.16.3
scooby==0.11.0
sentry-sdk==2.48.0
shapely==2.1.2
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.8.1
streamdeck==0.9.8
sympy==1.14.0
testtools==2.8.2
threadpoolctl==3.6.0
tifffile==2025.12.20
triangle==20250106
trimesh==4.10.1
txaio==25.12.2
typing_extensions==4.15.0
typish==1.9.3
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.2
vedo==2025.5.4
vermin==1.8.0
vtk==9.5.2
xarray==2025.12.0
xgbxml==0.0.10
xlrd==2.0.2
xlutils==2.0.0
xlwt==1.3.0
zipp==3.23.0
